* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "montserrat" !important;
  }
  
  header {
    background: rgba(255, 255, 255, 1);
    border: transparent;
    border-radius: 0px 0px 12px 12px;
    position: relative;
  }

  .header__top {
    
    position: relative;
    justify-content: space-between;
    padding: 50px 0 65px 60px;
    z-index: 10;
  }
  .header__top .header__top-contacts-div {
    
    justify-content: space-between;
    padding-bottom: 16px;
    padding-right: 35px;
  }
  .header__top .header__top-logo-middle {
    display: none;
    text-align: start;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__top .header__top-logo-services {
    display: none;
  }
  .header__top .header__menue-button {
    display: none;
  }
  .header__top .header__nav-bottom a {
    color:    rgba(36, 163, 255, 1);
    text-decoration: none;
  }
  .header__top .header_ul-contacts {
    
    padding-left: 10px;
  }
  .header__top .header_ul-contacts a {
    padding-right: 25px;
  }
  .header__top .header_ul-contacts .header__ul-top-link.fbl:hover > svg path {
    fill: red;
  }
  .header__top .header__ul-lang, .header__top .header_ul-contacts {
    color: rgba(179, 179, 186, 1);
    text-decoration: none;
    font-weight: 700;
    vertical-align: center;
  }
  .header__top .header__ul-lang a, .header__top .header_ul-contacts a {
    color: rgba(179, 179, 186, 1);
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
  }
  .header__top .header__ul-lang .header__ul-top-link.fbl, .header__top .header_ul-contacts .header__ul-top-link.fbl {
    vertical-align: top;
  }
  .header__top .header__ul-lang .header__ul-top-link.addr, .header__top .header_ul-contacts .header__ul-top-link.addr {
    font-weight: 400;
  }
  .header__top .header__ul-lang {
    
    column-gap: 14px;
    padding-right: 15px;
    list-style: none;
  }
  .header__top .header__ul-lang a {
    font-size: 0.75rem;
    line-height: 20px;
    position: relative;
  }
  .header__top .header__ul-lang li {
    text-align: center;
  }
  .header__top .header__ul-lang li:hover > .header__ul-top-link.lang::before {
    display: block;
  }
  .header__top .header__top-contacts {
    text-align: end;
    padding-right: 15px;
  }
  .header__top .header__nav-bottom {
    padding-right: 45px;
  }
  .header__top .header__nav-bottom a {
    font-weight: bold;
    padding-right: 15px;
    line-height: 20px;
  }
  .header__top .header__nav-bottom .header__nav-bottom-link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  .header__top .header__nav-bottom .header__nav-bottom-link:focus {
    text-decoration: underline;
    text-underline-offset: 6px;
    color: rgb(240, 20, 90);
  }
  .header__top .background {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 667px;
    width: 375px;
    background-color: rgb(104, 104, 135);
  }
  .header__top .background .header__menue-nav {
    height: 351px;
    width: 359px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-out;
    margin-top: 270px;
    margin-left: 8px;
  }
  .header__top .background .header__menue-nav .header__menue-nav-list {
    text-align: center;
    height: 43px;
    width: 315px;
    color: rgb(36, 163, 255);
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(245, 245, 250);
    margin-bottom: 15px;
    border-radius: 12px;
    line-height: 29px;
    padding-top: 7px;
  }
  .header__top .background .header__menue-nav .header__menue-nav-list.first {
    margin-top: 71px;
  }

  .header__ul-top-link.lang::before {
    display: none;
    z-index: -2;
    position: absolute;
    left: -48%;
    top: -25%;
    content: "";
    width: 33px;
    height: 23px;
    border-radius: 8px;
    background-color:   rgba(240, 20, 90, 1);
  }

  .header__ul-top-link.lang:focus {
    border-radius: 8px;
    background-color: rgb(240, 20, 90);
  }

  .d-grid {
    margin-left: 605.5px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(230, 230, 240, 1);
    width: 219px;
    height: 42px;
    border-radius: 12px;
    
    & .btn {
        width: 105px;
        height: 38px;
        border-radius: 12px;
    }
    & .btn.btn-secondary {
        background-color:         rgba(230, 230, 240, 1);
        color: rgba(50, 50, 100, 1);
        border: transparent;
    }
    & .btn.btn-primary{
        color: rgba(50, 50, 100, 1);
        background-color: rgba(255, 255, 255, 1);
        border: transparent;
    }
  }

  main {
    background-color: rgba(245, 245, 250, 1);
    padding-top: 30px;
  }

  .main__information-div {
    row-gap: 30px;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-left: 60px;
  }
  .main__information-div .main__information-div-card {
    width: calc(33.33% - 40px);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }
  .main__information-div .main__information-div-card img {
    width: 100%;
  }
  .main__information-div .main__information-div-card .main__information-div-card-h4 {
    border-bottom: solid 4px rgb(230, 230, 240);
    width: 360px;
    margin-left: 30px;
  }
  .main__information-div .main__information-div-card .main__information-div-card-h4 h4 {
    padding: 30px 30px 15px 0;
    color: rgb(36, 163, 255);
    font-weight: 700;
    line-height: 20px;
  }
  .main__information-div .main__information-div-card .main__information-div-card-h4 p {
    color: rgb(179, 179, 186);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    padding-bottom: 15px;
  }
  .main__information-div .main__information-div-card .main__information-div-card-p {
    padding-top: 15px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 22px;
    width: 360px;
    padding-left: 30px;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
  }
  
  .btn_publ {
    padding-left: 614.5px;
    padding-bottom: 60px;
  }

  footer {
    background-color: rgba(245, 245, 250, 1);
    padding-top: 30px;
    padding-left: 60px;
    & .footer__contacts {
        width: 95.5%;
        border-top: solid 2px rgba(230, 230, 240, 1);
        padding-top: 30px;        
        margin-top: 30px;      
        & .footer__contacts-address {
            padding-bottom: 21px;
            align-items: center;             
            & .footer__contacts-address-one {
                white-space: nowrap;    
                font-weight: 400;    
                line-height: 20px;  
                color: rgba(50, 50, 100, 1); 
                padding-right: 10px;    
                & p {
                    margin-bottom: 0;
                }
            }    
            & .footer__contacts-address-two {
                content: '';
                background-color: rgba(179, 179, 186, 1);
                width: 6px;
                height: 6px;
                border-radius: 50%;                                               
            }
            & .footer__contacts-address-three {                  
                & a {
                    margin-right: 760px; 
                    padding-left: 10px;               
                    white-space: nowrap;   
                    color: rgba(36, 163, 255, 1);  
                    font-size: 0.75rem;  
                    font-weight: 700;
                    line-height: 15px;  
                    letter-spacing: 1px;  
                    text-decoration: none;
                }   
            }
            & .footer__contacts-address-four {
                white-space: nowrap;
                line-height: 20px;
                color: rgba(179, 179, 186, 1);
            }
        }
        & .footer__contacts-links {
            
            padding-bottom: 30px;
            position: relative;            
            align-items: center;            
            & .footer__contacts-links-two {
                content: '';
                background-color: rgba(179, 179, 186, 1);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: 10px;
                margin-right: 10px;
                align-self: center;
            }
            & .footer__contacts-links-three {               
                & a {
                    text-decoration: none;
                    color: rgba(70, 70, 110, 1);
                    font-weight: 700;
                    line-height: 20px; 
                }
            }
            & .footer__contacts-links-four {               
                & a {
                    text-decoration: none;
                    color: rgba(36, 163, 255, 1);
                    font-weight: 700;
                    line-height: 20px; 
                }
            }
            & .footer__contacts-links-five {
                white-space: nowrap;
                line-height: 20px;
                color: rgba(179, 179, 186, 1);
                display: none;
            }
        }
    }
         
}

@media screen and (min-width: 1620px) {
    .header__top {
        padding-left: 160px;
        padding-right: 85px;
        padding-bottom: 361px;
        
    
    } 
                  
     
    
    main {
        & .d-grid {
            margin-left: 845.5px;
        }
        & .main__information-div {     
            padding-left: 160px;
            padding-right: 160px; 
            margin: 0;                   
            & .main__information-div-card {
                width: calc(33.33% - 20px);
                border-radius: 8px; 
                & .main__information-div-card-h4 {
                    width: 453.33px;                   
                }
                & .main__information-div-card-p {                    
                    width: 453.33px;
                }
            }              
           }
        & .btn_publ {
            padding-left: 735px;
        }
    }
    footer {
        padding-left: 160px;
        
        & .footer__contacts {
            width: 91.5%;
            & .footer__contacts-address {                          
                & .footer__contacts-address-three {                  
                    & a {
                        margin-right: 1040px; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                    }   
                }
                & .footer__contacts-address-four {
                    white-space: nowrap;
                    line-height: 20px;
                    color: rgba(179, 179, 186, 1);
                }
            }
            & .footer__contacts-links {
                display: flex;
                padding-bottom: 30px;
                position: relative;            
                align-items: center;            
                & .footer__contacts-links-two {
                    content: '';
                    background-color: rgba(179, 179, 186, 1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                    align-self: center;
                }
                & .footer__contacts-links-three {               
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {               
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
            }
        }
             
    }
}

@media screen and (max-width: 1024px) {
    
       
        
        main {
            & .d-grid {
                margin-left: 395.5px;
            }
            & .main__information-div {                         
                & .main__information-div-card {
                    width: calc(33.33% - 40px);
                    border-radius: 8px; 
                    & .main__information-div-card-h4 {
                        width: 221.33px;                   
                    }
                    & .main__information-div-card-p {                    
                        width: 221.33px;
                    }
                  }              
           }
           & .btn_publ {
            padding-left: 370px;
        }
    }
    footer {
        padding-left: 60px;
        
        & .footer__contacts {
            width: 93.8%;
            & .footer__contacts-address {                          
                & .footer__contacts-address-three {                  
                    & a {
                        margin-right: 343px; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                    }   
                }
                & .footer__contacts-address-four {
                    white-space: nowrap;
                    line-height: 20px;
                    color: rgba(179, 179, 186, 1);
                }
            }
            & .footer__contacts-links {
                display: flex;
                padding-bottom: 30px;
                position: relative;            
                align-items: center;            
                & .footer__contacts-links-two {
                    content: '';
                    background-color: rgba(179, 179, 186, 1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                    align-self: center;
                }
                & .footer__contacts-links-three {               
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {               
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
            }
        }
             
    }
}

@media screen and (max-width: 768px) {
    .header__top {
        display: inline-block;  
        padding-bottom: 225px;      
      & .header__top-logo {
        display: none;
      }
      & .header__top-logo-middle {
        display: block;
      }
      & .header__nav-bottom {
        text-align: start;
      }
      & .header__top-contacts {
         & .header_ul-contacts {
            & .header__ul-top-link.fbl {
                position: absolute ;
                top: 10%;
            }
         }
      }
      }
    
   
 
    
        main {
            & .d-grid {
                margin-left: 275px;
            }
            & .main__information-div {  
                flex-wrap: wrap;       
                column-gap: 30px;                        
                & .main__information-div-card {
                    width: calc(50% - 35px);
                    border-radius: 8px; 
                    & .main__information-div-card-h4 {
                        width: 249px;                   
                    }
                    & .main__information-div-card-p {                    
                        width: 249px;
                    }
                } 
                          
               }
               & .btn_publ {
                padding-left: 255px;
              }
    }
    footer {
        padding-left: 60px;
        
        & .footer__contacts {
            width: 93.8%;
            & .footer__contacts-address {                          
                & .footer__contacts-address-three {                  
                    & a {
                        margin-right: 95px; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                    }   
                }
                & .footer__contacts-address-four {
                    white-space: nowrap;
                    line-height: 20px;
                    color: rgba(179, 179, 186, 1);
                }
            }
            & .footer__contacts-links {
                display: flex;
                padding-bottom: 30px;
                position: relative;            
                align-items: center;            
                & .footer__contacts-links-two {
                    content: '';
                    background-color: rgba(179, 179, 186, 1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                    align-self: center;
                }
                & .footer__contacts-links-three {               
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {               
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
            }
        }
             
    }
}

@media screen and (max-width: 380px) {
    
    .header__top {
        display: inline-block !important;  
        padding-bottom: 0px;          
        padding-top: 0px;
        padding-left: 0px;
      & .header__top-contacts-div {
        height: 50px;
        background: rgba(245, 245, 250, 1);
        
      }
      & .header__top-logo {
        display: none;
      }
      & .header__top-logo-middle {
        display: none;        
      }
      & .header__top-logo-services {
        display: block;   
        text-align: start; 
        padding-left: 15px;   
        }
      
      & .header__ul-lang {
        margin-right:135px ;  
        padding-left: 22px;     
        padding-top: 15px;
        padding-bottom: 12.5px;
      }
      
      & .header__top-contacts {
         & .header_ul-contacts {
            list-style: none;
            padding-top: 15px;
            padding-bottom: 15px;
            & .header__ul-top-link.addr, .header__ul-top-link.fbl {
                display: none;                                
            } 
            & .header__ul-top-link.phone {
                white-space: nowrap;
            }
                   
          }
       }
       & .header__nav-bottom {
        display: none;        
       }      
       
       

       .header__menue {
        display: flex !important;
        gap: 100px;
        vertical-align: center;   
        padding-top: 10px;
        padding-bottom: 10px;     
        & .header__menue-button.active span {
            background-color: transparent;
           }
        & .header__menue-button {
            display: block !important;
            align-self: center;
            width: 32px;    
            height: 32px;
            position: relative;
            align-items: center;
            cursor: pointer;
            z-index: 2; 
            padding-left: 0;
            
            &:hover>.header__menue::after {
             display: block;
            }           
            & span {
                position: absolute;
                top: 15px;
                display: block;
                vertical-align: end;
                width: 18px;
                height: 2px;
                background-color: rgba(50, 50, 100, 1);
                &::before  {
                    content: '';
                    width:18px;
                    height: 2px;
                    position: absolute;
                    background-color: rgba(50, 50, 100, 1);
                    transition: 0.5s ease-out;
                    top: 7px;
                    left: 0;
                    }
                &::after {
                        content: '';
                        width: 18px;
                        height: 2px;
                        position: absolute;
                        background-color: rgba(50, 50, 100, 1);
                        transition: 0.5s ease-out; 
                        bottom: 7px; 
                        left: 0;
                }  
            }           
           
        }
        
        & .header__menue-button.active {
            position: absolute;
            right:7%;
            top: 220%;
            & span::after {
                background-color: rgba(236, 111, 93, 1);
            }
            & span::before {
                background-color: rgba(236, 111, 93, 1);
            }
            & span::before {
              top: 0;
              transform: rotate(45deg);
            }
            & span::after {
              bottom: 0;
              transform: rotate(-45deg);
            }
           & + .background {            
            display: flex;            
           }           
          } 
     }
     
    }
      
        
        main {
            & .d-grid {
                margin-left: 73px;
                display: flex !important;
                
            }
            & .main__information-div {  
                margin-left: 30px;
                flex-direction: row;               
                & .main__information-div-card {
                    width: calc(100% - 30px);
                    border-radius: 8px; 
                    & .main__information-div-card-h4 {
                        width: 255px;                   
                    }
                    & .main__information-div-card-p {                    
                        width: 255px;
                    }
                } 
                & .main__information-div-card.two {
                    margin-top: 30px;
                }
                & .main__information-div-card.three {
                    width: calc(100% - 30px);
                    border-radius: 8px; 
                    & .main__information-div-card-h4 {
                        width: 255px;                   
                    }
                    & .main__information-div-card-p {                    
                        width: 255px;
                    }   
                }
                          
               }
               & .btn_publ {
                padding-left: 80px;
            }
    }
    footer {
        padding-left: 30px;
        & .footer__contacts {
            width: 91.7%;
            & .footer__contacts-address { 
                display: block !important;  
                text-align: center; 
                & .footer__contacts-address-one {
                    padding-bottom: 10px;
                } 
                & .footer__contacts-address-two {
                    display: none;                    
                }               
                & .footer__contacts-address-three {
                    padding-bottom: 21px;                  
                    & a {
                        margin-right: 0; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                        
                    }   
                }
                & .footer__contacts-address-four {
                    display: none;
                }
            }
            & .footer__contacts-links {
                display: block !important;
                text-align: center; 
                & .footer__contacts-links-one {
                    padding-bottom: 10px;
                }          
                & .footer__contacts-links-two {
                    display: none;
                }
                & .footer__contacts-links-three { 
                    padding-bottom: 10px;              
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {  
                    padding-bottom: 30px;             
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
               }
               & .footer__contacts-links-five {
                display: block;
               }
            }
        }
             
    }
    
}