* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
    font-family: "montserrat";
}

header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);   
    margin-bottom: 80px;
    border: transparent;
    border-radius: 0px 0px 12px 12px;
    position: relative;   
}

header::before {
    content: "";
    position: absolute;    
    bottom: 0%;
    width: 97.22%;   
    height: 1%;
    border: transparent;
    box-shadow: 0px 10px 1px 10px  rgba(202, 202, 219, 1);
    border-radius: 10px;
    margin-left: 20px;
    z-index: -2;    
}

header::after {
    content: "";
    position: absolute;    
    bottom: -0.9%;
    width: 94.44%;  
    height: 1%;
    border: transparent;
    box-shadow: 0px 0px 1px 20px  rgba(231, 231, 242, 1);
    border-radius: 10px;
    margin-left: 40px;
    z-index: -3;        
}


.header__top {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 50px 0 261px 60px;
    z-index: 10;
    & .header__top-contacts-div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        padding-right: 35px;
    }
    & .header__top-logo-middle {
        display: none;
        text-align: start;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    & .header__top-logo-services {
        display: none;
    }
    & .header__menue-button {
        display: none;
    }
    
    
    & .header__nav-bottom a {
        color: white; 
        text-decoration: none;
    }

    
    & .header_ul-contacts {
        display: flex;
        padding-left: 10px;
        & a {
            padding-right: 25px;
        }
        & .header__ul-top-link.fbl:hover>svg path {
            fill: red;
            }
         }
    
    & .header__ul-lang, .header_ul-contacts  {
        color: white;
        text-decoration: none;
        font-weight: 700;
        vertical-align: center;                
                
        & a {
            color: white;            
            text-decoration: none;
            font-weight: bold;
            line-height: 20px;
        }    
        
       & .header__ul-top-link.fbl {
        vertical-align: top;
       }

       & .header__ul-top-link.addr {
        font-weight: 400;
       }           
    }
               

    & .header__ul-lang {
    display: flex;
    column-gap: 14px;
    padding-right: 15px;
    list-style: none; 
            
       & a {
        font-size: 0.75rem;
        line-height: 20px;        
        position: relative;
              
      }   
      & li {          
        text-align: center; 
       
        &:hover>.header__ul-top-link.lang::before {
            display: block;
            }         
      } 

      
    }       
    
    
    & .header__top-contacts {
            text-align: end;
            padding-right: 15px;
            
             
    }

           
     & .header__nav-bottom {   
        padding-right: 45px;   
         & a {
         font-weight: bold;
         padding-right: 15px;
         line-height: 20px;
        }
        & .header__nav-bottom-link:hover {
            text-decoration: underline;
            text-underline-offset: 6px;
        }
        & .header__nav-bottom-link:focus {
            text-decoration: underline;
            text-underline-offset: 6px;
            color: rgba(240, 20, 90, 1);
        }
     }
     & .background {
        position: absolute;
        top: 0;
        left: 0;
        display: none;        
        height: 667px;
        width: 375px;
        background-color: rgba(104, 104, 135, 1);
        & .header__menue-nav {
            height: 351px;
            width: 359px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 12px 12px 0 0;
            display: flex;
            align-items: center;
            flex-direction: column;            
            transition: 0.5s ease-out; 
            margin-top: 270px;
            margin-left: 8px; 
                  
            & .header__menue-nav-list {
                text-align: center;
                height: 43px;
                width: 315px;
                color: rgba(36, 163, 255, 1);
                font-size: 1.5rem;
                list-style: none;
                text-decoration: none;
                font-weight: 700;
                background-color: rgba(245, 245, 250, 1);
                margin-bottom: 15px;
                border-radius: 12px;
                line-height: 29px;
                padding-top: 7px;
            }
            & .header__menue-nav-list.first {
                margin-top: 71px;
            }
         }
     }
     
  
    }

    .header__h1 {
        font-size: 2.375rem;
        line-height: 46px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        font-weight: 700;
        padding-bottom: 377px;
        z-index: 1;
        position: relative;        
    }

    .header__hsymbol {
        position: absolute;
        top: 0;
        left: 27%;    
        height: 800px;
       
    }

    .header__button {
        position: absolute;
        top: 35%;
        left: 50%;
       z-index: 15;
        
        & .header__button-but {
            background: none;
            border: none;
            &:hover>svg path {
                stroke: rgba(240, 20, 90, 1);
            }
            &:hover>svg circle {
                stroke: red;
            }
        }        
    }
.header__ul-top-link.lang::before {
    display: none;
    z-index: -2;
    position: absolute;
    left: -48%;
    top: -25%;
    content:'';
    width: 33px;
    height: 23px;
    border-radius: 8px;
    background-color:  rgba(104, 104, 135, 1);            
    }   
    
.header__menue::after {
        display: none;
        z-index: -2;
        position: absolute;
        right: 16.3%;
        top: 30%;
        content:'';
        width: 33px;
        height: 23px;
        border-radius: 8px;
        background-color:  rgba(230, 230, 240, 1);            
}

.header__ul-top-link.lang::after {
        display: none;
        z-index: -1;
        position: absolute;
        left: -48%;
        top: -25%;
        content:'';
        width: 33px;
        height: 23px;
        border-radius: 8px;
        background-color:  rgba(240, 20, 90, 1);            
} 
    

.header__ul-top-link.lang:focus {
       border-radius: 8px;       
       background-color:  rgba(240, 20, 90, 1); 
       
}


 
.header__center-section {
    padding-top: 74px;
    display: flex;
    justify-content: center;
    & .header__center-section-left {
        text-align: end;
        border-right: solid 4px rgba(255, 255, 255, 0.3);
            & h2 {
            font-size: 2.375rem;
            line-height: 46.32px;
            font-weight: 700;
            color: rgba(179, 179, 186, 1);
            padding-right: 60px;
            padding-bottom: 30px;
        }
        & .header__center-section-left__h2.one {
        background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
        }   
        & h2:hover {
            color: rgba(240, 20, 90, 1);
        }
        
    }

    & .header__center-section-right {
        padding-left: 60px;
        max-width: 620px;
        padding-bottom: 60px;
        & h3 {
            color: rgba(255, 255, 255, 1);
            font-size: 1.875rem;
            font-weight: 700;
            line-height: 36px;
            padding-bottom: 30px ;
            padding-top: 43px;
        }
        & p {
            color: rgba(255, 255, 255, 1);
            font-size: 1.187rem;
            line-height: 30px;
            font-weight: 400;
        }
    }
}

.header__a-services {
    text-decoration: none;       
    color: rgba(36, 163, 255, 1);
    padding: 0 0 10px 60px;
    line-height: 17px;
    vertical-align: top;
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
        color: rgba(240, 20, 90, 1);
        stroke: rgba(240, 20, 90, 1);
    }
    &:hover>svg path {
        stroke: rgba(240, 20, 90, 1);
    }

}

.header__h2 {
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        padding: 0 0 60px 60px;
        line-height: 46px;
        font-size: 2.375rem;
            font-weight: 700;
            line-height: 46px;
}

.header__bottom {
     display: flex;
     flex-wrap: wrap;
     column-gap: 60px;
     padding-left: 60px;
     & .header__bottom-div {
        width: calc(33.33% - 60px);
        padding-bottom: 60px;
        max-width: 400px;
        & .header__bottom-div-img {
            padding-bottom: 30px;
        }
        & .header__bottom-div-h4 {
            padding-bottom: 15px;
            font-weight: 700;
            font-size: 1.375rem;
            line-height: 27px;
            color: rgba(36, 163, 255, 1);
            &:hover {
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
            }
        }
        & .header__bottom-div-p {
            color: rgba(255, 255, 255, 1);
            line-height: 26px;
            font-weight: 400;
        }
     }
}

main {
  & .main__top {
    display: flex;
    height: 344px;
    margin-left: 60px;
    margin-top: 100px;  
    margin-bottom: 30px;  
    & .main__top-foto{        
        & img {
            width: 100%;
            height: 100%;
        }
       }
    & .main__top-description {
        background-color: rgba(245, 245, 250, 1);        
        width: 920px;
        padding-left: 30px; 
        border-radius: 0 12px 12px  0;
        & .space  {
            padding-bottom: 30px;
        }   
        & .main__top-description-a {
            text-decoration: none;       
            color: rgba(36, 163, 255, 1);       
            padding-bottom: 5px;
            padding-top: 30px;
            line-height: 17px;         
            font-weight: 700;
            letter-spacing: 1px;
        &:hover {
            color: rgba(240, 20, 90, 1);
            stroke: rgba(240, 20, 90, 1);
        }
        &:hover>svg path {
            stroke: rgba(240, 20, 90, 1);
          }
        }
        & h3 {
            font-size: 2.375rem ;
            font-weight: 700;
            line-height: 46px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            padding-top: 5px;
            padding-bottom: 30px;
        }
        & .main__top-description-author {            
            color: rgba(179, 179, 186, 1);
            font-weight: 700;
            line-height: 19.5px;
            text-align: left;
            padding-bottom: 6px;
        }
        & .main__top-description-position {
            color: rgba(179, 179, 186, 1);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
        }
     }  
}    
& .main__pagelist {
    display: flex;
    gap: 15px;    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
      & .main__pagelist-div {          
                background-color: rgba(36, 163, 255, 1);
                content: '';                         
                height: 16px;
                width: 16px;
                border-radius: 50%;
                opacity: 20%;   
                text-align: center;
                vertical-align: top;
                &:focus-within {
                    opacity: 100%;
                }
                & .main__pagelist-div-a {
                    opacity: 0;                    
                }      
     }
  }


  
     & .main__h5 {
        margin-bottom: 30px;
        text-align: center;       
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 1px;
        color: rgba(50, 50, 100, 1);
    }
    & .main__partners {
        display: flex;
        flex-wrap: wrap;        
        & .main__partners-div {
            width: 25%;
            & img {
                width: 100%;
                height: 100%;
            }
        }
    }    
    }
footer {
    background-color: rgba(245, 245, 250, 1);
    padding-top: 30px;
    padding-left: 60px;
    & .footer__information {
        & .footer__a-publications {
         text-decoration: none;       
         color: rgba(36, 163, 255, 1);
         padding: 0 0 10px 0;
         line-height: 17px;
         vertical-align: top;
         font-weight: 700;
         letter-spacing: 1px;
         &:hover {
             color: rgba(240, 20, 90, 1);
             stroke: rgba(240, 20, 90, 1);
         }
         &:hover>svg path {
             stroke: rgba(240, 20, 90, 1);
         }
     
         }
       }
        & .footer__h2 {
             background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;   
             padding: 0 0 30px 0;
             line-height: 46px;
             font-size: 2.375rem;
             font-weight: 700;
             line-height: 46px;
       }
       & .footer__information-div {
        display: flex;        
        column-gap: 30px;             
        & .footer__information-div-card {
            width: calc(33.33% - 40px);
            background-color: rgba(255, 255, 255, 1);
            border-radius: 8px;
            & img {
                width: 100%;                
            }
            & .footer__information-div-card-h4 {
                border-bottom: solid 4px rgba(230, 230, 240, 1);
                width: 360px;
                margin-left: 30px;
                & h4 {
                    padding: 30px 30px 15px 0;
                    color: rgba(36, 163, 255, 1);                    
                    font-weight: 700;
                    line-height: 20px;
                }
                & p {
                    color:  rgba(179, 179, 186, 1);
                    font-size: 0.75rem;
                    font-weight: 700;
                    line-height: 15px;
                    letter-spacing: 1px;                    
                    padding-bottom: 15px;                    
                }
            }
            & .footer__information-div-card-p {
                padding-top: 15px;
                font-size: 0.875rem;
                font-weight: 400 ;
                line-height: 22px;
                width: 360px;
                padding-left: 30px;
                color: rgba(0, 0, 0, 1);
                padding-bottom: 30px;
            }
        }
       }
    & .footer__contacts {
        width: 95.5%;
        border-top: solid 2px rgba(230, 230, 240, 1);
        padding-top: 30px;        
        margin-top: 30px;      
        & .footer__contacts-address {
            display: flex;  
            padding-bottom: 21px;
            align-items: center;             
            & .footer__contacts-address-one {
                white-space: nowrap;    
                font-weight: 400;    
                line-height: 20px;  
                color: rgba(50, 50, 100, 1); 
                padding-right: 10px;     
            }    
            & .footer__contacts-address-two {
                content: '';
                background-color: rgba(179, 179, 186, 1);
                width: 6px;
                height: 6px;
                border-radius: 50%;                                               
            }
            & .footer__contacts-address-three {                  
                & a {
                    margin-right: 760px; 
                    padding-left: 10px;               
                    white-space: nowrap;   
                    color: rgba(36, 163, 255, 1);  
                    font-size: 0.75rem;  
                    font-weight: 700;
                    line-height: 15px;  
                    letter-spacing: 1px;  
                    text-decoration: none;
                }   
            }
            & .footer__contacts-address-four {
                white-space: nowrap;
                line-height: 20px;
                color: rgba(179, 179, 186, 1);
            }
        }
        & .footer__contacts-links {
            display: flex;
            padding-bottom: 30px;
            position: relative;            
            align-items: center;            
            & .footer__contacts-links-two {
                content: '';
                background-color: rgba(179, 179, 186, 1);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                margin-left: 10px;
                margin-right: 10px;
                align-self: center;
            }
            & .footer__contacts-links-three {               
                & a {
                    text-decoration: none;
                    color: rgba(70, 70, 110, 1);
                    font-weight: 700;
                    line-height: 20px; 
                }
            }
            & .footer__contacts-links-four {               
                & a {
                    text-decoration: none;
                    color: rgba(36, 163, 255, 1);
                    font-weight: 700;
                    line-height: 20px; 
                }
            }
            & .footer__contacts-links-five {
                white-space: nowrap;
                line-height: 20px;
                color: rgba(179, 179, 186, 1);
                display: none;
            }
        }
    }
         
}




  /*Media*/    

@media screen and (min-width: 1620px) {
    .header__top {
        padding-left: 160px;
        padding-right: 77px;
        padding-bottom: 361px;
        & .header__top-contacts-div {}
    
    } 
    .header__h1 {
        padding-bottom: 537px;               
    }
    .header__center-section {
       
       & .header__center-section-right {
        padding-left: 60px;
        max-width: 950px;
        padding-bottom: 60px;
    }
    }
    .header__bottom {
        padding-left: 160px;
    }

    .header__h2, .header__a-services {
        padding-left: 160px;
    }

    .header__bottom {        
        padding-left: 160px;
        & .header__bottom-div {
            max-width: 493.33px;           
           }           
        }         

        .header__button {
            position: absolute;
            top: 41.5%;
            left: 48%;
        }
    .header__hsymbol {
        & svg {
            width: 872px;
            height: 1000px;
        }
    }
    main {
     & .main__top {
        display: flex;
        height: 298px;
        margin-left: 160px;
        margin-top: 100px;  
        width: 1600px;  
        & .main__top-foto{  
            border-radius: 12px 0 0 12px;     
             width: 400px;
             background-image: url(../img/foto.png);
             background-size: cover;
             background-position: center;
             & img {
                display: none;
             }
           }
        & .main__top-description {                   
            width: 1200px;
         }         
      }
      
    & .main__partners {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
        width: 1720px;
        margin-left: 100px;
        & .main__partners-div {
            width: 430px;                       
        } 
        & .main__partners-div.one {
            & img {
                border-radius: 12px 0 0 0;
            }        
        }  
        & .main__partners-div.four {
            & img {
                border-radius: 0 12px 0 0;
            }        
        }
        & .main__partners-div.nine {
            & img {
                border-radius: 0 0 0 12px;
            }        
        }  
        & .main__partners-div.twelf {
            & img {
                border-radius: 0 0 12px 0;
            }        
        }         
    }
    
    
    }
    footer {
        padding-left: 160px;
        & .footer__information-div {                         
            & .footer__information-div-card {
                width: calc(33.33% - 70px);
                border-radius: 8px; 
                & .footer__information-div-card-h4 {
                    width: 453.33px;                   
                }
                & .footer__information-div-card-p {                    
                    width: 453.33px;
                }
            }              
           }
        & .footer__contacts {
            width: 91.5%;
            & .footer__contacts-address {                          
                & .footer__contacts-address-three {                  
                    & a {
                        margin-right: 1040px; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                    }   
                }
                & .footer__contacts-address-four {
                    white-space: nowrap;
                    line-height: 20px;
                    color: rgba(179, 179, 186, 1);
                }
            }
            & .footer__contacts-links {
                display: flex;
                padding-bottom: 30px;
                position: relative;            
                align-items: center;            
                & .footer__contacts-links-two {
                    content: '';
                    background-color: rgba(179, 179, 186, 1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                    align-self: center;
                }
                & .footer__contacts-links-three {               
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {               
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
            }
        }
             
    }
}

@media screen and (max-width: 1024px) {
    
    .header__hsymbol {
        position: absolute;
        top: 0;
        left: 15%; 
    }

    .header__center-section {
        margin-bottom: 60px;
        & .header__center-section-left {
            margin-left: 60px;
            & h2 {
            font-size: 2.375rem;
            line-height: 55px;
            font-weight: 700;
            color: rgba(179, 179, 186, 1);
            padding-right: 60px;
            padding-bottom: 30px;
            }
        }
        & .header__center-section-right {
            padding-left: 60px;
            max-width: 500px;
            padding-bottom: 9.5px;
            padding-right: 60px;
            & h3 {
                padding-top: 9.5px;
                padding-bottom: 30px;
            }

         }
     }
     .header__bottom {
         padding-left: 60px;
     }
 
     .header__h2, .header__a-services {
         padding-left: 60px;
     }
 
     .header__bottom {        
         padding-left: 60px;
         & .header__bottom-div {
             max-width: 493.33px;           
            }           
         }         
 
     .header__button {
             position: absolute;
             top: 31.8%;
             left: 47.5%;
     }

         header::before {
            content: "";
            position: absolute;    
            bottom: 0%;
            width: 96.22%;   
            height: 1%;
            border: transparent;
            box-shadow: 0px 10px 1px 10px  rgba(202, 202, 219, 1);
            border-radius: 10px;
            margin-left: 20px;
            z-index: -2;    
        }
        
        header::after {
            content: "";
            position: absolute;    
            bottom: -0.84%;
            width: 92.44%;  
            height: 1%;
            border: transparent;
            box-shadow: 0px 0px 1px 20px  rgba(231, 231, 242, 1);
            border-radius: 10px;
            margin-left: 40px;
            z-index: -3;        
        }
        main {
        & .main__top {
            display: flex;
            height: 528px;
            margin-left: 60px;
            margin-top: 100px;    
            & .main__top-foto{  
                border-radius: 12px 0 0 12px;     
                 width: 400px;
                 background-image: url(../img/foto.png);
                 background-size: cover;
                 background-position: center;
                 & img {
                    display: none;
                 }
               }
            & .main__top-description {                   
                width: 504px;
                & h3 {
                    padding-right: 30px;
                }
             }         
          }

           .main__h5 {
            margin-bottom: 30px;
            text-align: center;       
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 1px;
            color: rgba(50, 50, 100, 1);
        }
         .main__partners {
            display: flex;
            flex-wrap: wrap;            
            & .main__partners-div {
                width: 256px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    footer {
        padding-left: 60px;
        & .footer__information-div {                         
            & .footer__information-div-card {
                width: calc(33.33% - 40px);
                border-radius: 8px; 
                & .footer__information-div-card-h4 {
                    width: 221.33px;                   
                }
                & .footer__information-div-card-p {                    
                    width: 221.33px;
                }
            }              
           }
        & .footer__contacts {
            width: 93.8%;
            & .footer__contacts-address {                          
                & .footer__contacts-address-three {                  
                    & a {
                        margin-right: 343px; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                    }   
                }
                & .footer__contacts-address-four {
                    white-space: nowrap;
                    line-height: 20px;
                    color: rgba(179, 179, 186, 1);
                }
            }
            & .footer__contacts-links {
                display: flex;
                padding-bottom: 30px;
                position: relative;            
                align-items: center;            
                & .footer__contacts-links-two {
                    content: '';
                    background-color: rgba(179, 179, 186, 1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                    align-self: center;
                }
                & .footer__contacts-links-three {               
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {               
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
            }
        }
             
    }
}

@media screen and (max-width: 768px) {
    .header__top {
        display: inline-block;  
        padding-bottom: 225px;      
      & .header__top-logo {
        display: none;
      }
      & .header__top-logo-middle {
        display: block;
      }
      & .header__nav-bottom {
        text-align: start;
      }
      & .header__top-contacts {
         & .header_ul-contacts {
            & .header__ul-top-link.fbl {
                position: absolute ;
                top: 10%;
            }
         }
      }
      }
    .header__h1 {
        margin-bottom: 549px;
        padding-bottom: 0;
    }

    .header__hsymbol {
        position: absolute;
        top: -1.3%;
        left: -7%; 
        & svg {
            width: 834px;
            height: 1024px;
        }
    }

    .header__center-section {
        margin-bottom: 60px;
        padding-top: 0;
        display: block;
        & .header__center-section-left {
            display: flex;
            margin-left: 60px;
            overflow-x: scroll;
            border-right:none ;
            border-bottom: solid 4px rgba(255, 255, 255, 0.3);
            width: 648px;
            margin-bottom: 60px;            
            & h2 {
            white-space: nowrap;      
            padding-bottom: 60px;  
                
            }
        }
        & .header__center-section-right {
            padding-left: 60px;
            max-width: 800px;
            padding-bottom: 9.5px;
            & h3 {
                padding-top: 9.5px;
                padding-bottom: 30px;
            }

         }
     }
      
     .header__h2, .header__a-services {
         padding-left: 60px;
     }
 
     .header__bottom {        
         padding-left: 60px;
         padding-right: 60px;
         & .header__bottom-div {
             width: calc(50% - 30px);         
            }           
         }         
 
         .header__button {
             position: absolute;
             top: 28.5%;
             left: 45%;
         }

         header::before {
            content: "";
            position: absolute;    
            bottom: 0.1%;
            width: 92%;   
            height: 1%;
            border: transparent;
            box-shadow: 0px 10px 1px 10px  rgba(202, 202, 219, 1);
            border-radius: 10px;
            margin-left: 30px;
            z-index: -2;    
        }
        
        header::after {
            content: "";
            position: absolute;    
            bottom: -0.45%;
            width: 83%;  
            height: 1%;
            border: transparent;
            box-shadow: 0px 0px 1px 20px  rgba(231, 231, 242, 1);
            border-radius: 10px;
            margin-left: 65px;
            z-index: -3;        
        }
        main {
        & .main__top {
            height: 936px;
            width: 648px;            
            display: block;            
            margin-left: 60px;
            margin-top: 100px;    
            & .main__top-foto{  
                border-radius: 12px 12px 0 0;     
                width: 648px;  
                height: 500px;
                 background-image: url(../img/foto.png);
                 background-size: cover;
                 background-position: center;
                 & img {
                    display: none;
                 }
               }
            & .main__top-description {                   
                width: 648px; 
                height: 436px;
                border-radius: 0 0 12px 12px;
                & h3 {
                    padding-right: 30px;
                }
             }         
          }

           .main__h5 {
            margin-bottom: 30px;
            text-align: center;       
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 1px;
            color: rgba(50, 50, 100, 1);
        }
         .main__partners {
            display: flex;
            flex-wrap: wrap;
            & .main__partners-div {
                width: 256px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    footer {
        padding-left: 60px;
        & .footer__information-div {  
            flex-wrap: wrap;       
            column-gap: 30px;                        
            & .footer__information-div-card {
                width: calc(50% - 35px);
                border-radius: 8px; 
                & .footer__information-div-card-h4 {
                    width: 249px;                   
                }
                & .footer__information-div-card-p {                    
                    width: 249px;
                }
            } 
            & .footer__information-div-card.three {
                width: calc(100% - 40px);
                margin-top: 30px;
                & .footer__information-div-card-h4 {
                    width: 600px;                   
                }
                & .footer__information-div-card-p {                    
                    width: 600px;
                }
            }            
           }
        & .footer__contacts {
            width: 93.8%;
            & .footer__contacts-address {                          
                & .footer__contacts-address-three {                  
                    & a {
                        margin-right: 95px; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                    }   
                }
                & .footer__contacts-address-four {
                    white-space: nowrap;
                    line-height: 20px;
                    color: rgba(179, 179, 186, 1);
                }
            }
            & .footer__contacts-links {
                display: flex;
                padding-bottom: 30px;
                position: relative;            
                align-items: center;            
                & .footer__contacts-links-two {
                    content: '';
                    background-color: rgba(179, 179, 186, 1);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                    align-self: center;
                }
                & .footer__contacts-links-three {               
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {               
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
            }
        }
             
    }
}

@media screen and (max-width: 380px) {
    
    .header__top {
        display: inline-block;  
        padding-bottom: 120px;          
        padding-top: 0px;
        padding-left: 0px;
      & .header__top-contacts-div {
        height: 50px;
        background: rgba(245, 245, 250, 0.2);
        
      }
      & .header__top-logo {
        display: none;
      }
      & .header__top-logo-middle {
        display: none;        
      }
      & .header__top-logo-services {
        display: block;    
        text-align: start; 
        padding-left: 15px;   
        }
      
      & .header__ul-lang {
        margin-right:120px ;  
        padding-left: 22px;     
        padding-top: 15px;
        padding-bottom: 15px;
      }
      
      & .header__top-contacts {
         & .header_ul-contacts {
            list-style: none;
            padding-top: 15px;
            padding-bottom: 15px;
            & .header__ul-top-link.addr, .header__ul-top-link.fbl {
                display: none;                                
            } 
            & .header__ul-top-link.phone {
                white-space: nowrap;
            }
                   
          }
       }
       & .header__nav-bottom {
        display: none;        
       }      
       
       

       .header__menue {
        display: flex;
        gap: 147px;
        vertical-align: center;        
        & .header__menue-button.active span {
            background-color: transparent;
           }
        & .header__menue-button {
            display: flex;
            align-self: center;
            width: 32px;    
            height: 32px;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 2; 
            &:hover>.header__menue::after {
             display: block;
            }           
            & span {
                display: block;
                width: 18px;
                height: 2px;
                background-color: rgba(255, 255, 255, 1);
                &::before  {
                    content: '';
                    width: 18px;
                    height: 2px;
                    position: absolute;
                    background-color: white;
                    transition: 0.5s ease-out;
                    top: 7px;
                    left: 0;
                    }
                &::after {
                        content: '';
                        width: 18px;
                        height: 2px;
                        position: absolute;
                        background-color: white;
                        transition: 0.5s ease-out; 
                        bottom: 7px; 
                        left: 0;
                }  
            }           
           
        }
        
        & .header__menue-button.active {
            position: absolute;
            right: 14%;
            top: 120%;
            & span::after {
                background-color: rgba(236, 111, 93, 1);
            }
            & span::before {
                background-color: rgba(236, 111, 93, 1);
            }
            & span::before {
              top: 15px;
              transform: rotate(45deg);
            }
            & span::after {
              bottom: 15px;
              transform: rotate(-45deg);
            }
           & + .background {            
            display: flex;            
           }           
          } 
     }
    }
      
    .header__h1 {
        margin-bottom: 261px;
        padding-bottom: 0;
        max-width: 315px;
        text-align: center;
        margin-left: 30px;
    }

    .header__hsymbol {
        top: 0;
        position: absolute;
        left: -74px; 
        & svg {
            width: 523px;
            height: 600px;
        }
    }

    .header__center-section {
        margin-bottom: 60px;
        padding-top: 0;
        display: block;
        & .header__center-section-left {
            display: flex;
            margin-left: 30px;
            overflow-x: scroll;
            border-right:none ;
            border-bottom: solid 4px rgba(255, 255, 255, 0.3);
            width: 648px;
            margin-bottom: 60px;            
            & h2 {
            white-space: nowrap;      
            padding-bottom: 30px;  
            font-size: 1.875rem;    
            }
        }
        & .header__center-section-right {
            padding-left: 30px;
            max-width: 800px;
            padding-bottom: 9.5px;
            & h3 {
                padding-top: 9.5px;
                padding-bottom: 30px;
                font-size: 1.25rem;
                line-height: 24px;
            }
            & p {
                font-size: 1.187rem;
                line-height: 30px;
            }

         }
     }
      
     .header__h2, .header__a-services {
         padding-left: 30px;
     }
     .header__h2 {
       font-size: 1.875rem;
       line-height: 36px;
       padding-bottom: 30px;
     }
     
 
     .header__bottom {        
         padding-left: 30px;
         padding-right: 30px;
         & .header__bottom-div {
             width: calc(100% - 60px);         
            }           
         }         
 
         .header__button {
             position: absolute;
             top: 14%;
             left: 44%;
         }

         header::before {
            content: "";
            position: absolute;    
            bottom: 0.15%;
            width: 86%;   
            height: 1%;
            border: transparent;
            box-shadow: 0px 10px 1px 10px  rgba(202, 202, 219, 1);
            border-radius: 10px;
            margin-left: 30px;
            z-index: -2;    
        }
        
        header::after {
            content: "";
            position: absolute;    
            bottom: -0.19%;
            width: 68%;  
            height: 1%;
            border: transparent;
            box-shadow: 0px 0px 1px 20px  rgba(231, 231, 242, 1);
            border-radius: 10px;
            margin-left: 65px;
            z-index: -3;        
        }
        main {
            background-color: rgba(255, 255, 255, 1);
        & .main__top {
            height: 1087px;
            width: 315px;            
            display: block;            
            margin-left: 30px;
            margin-top: 60px;    
            & .main__top-foto{  
                border-radius: 12px 12px 0 0;     
                width: 315px;  
                height: 500px;
                 background-image: url(../img/foto.png);
                 background-size: cover;
                 background-position: center;
                 & img {
                    display: none;
                 }
               }
            & .main__top-description {                   
                width: 315px; 
                height: 587px;
                border-radius: 0 0 12px 12px;
                & h3 {
                    padding-right: 30px;
                    font-size: 1.875rem;
                    line-height: 36px;
                    padding-bottom: 30px;
                }
             }         
          }
           .main__h5 {
            margin-bottom: 30px;
            text-align: center;       
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 1px;
            color: rgba(50, 50, 100, 1);
        }
         .main__partners {
            display: flex;
            flex-wrap: wrap;
            & .main__partners-div {
                width: 100vw;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    }
    footer {
        padding-left: 30px;
        & .footer__h2 {
            font-size: 1.875rem;
            line-height: 36px;
        }
        & .footer__information-div {  
            display: flex;
            flex-direction: row;               
            & .footer__information-div-card {
                width: calc(100% - 30px);
                border-radius: 8px; 
                & .footer__information-div-card-h4 {
                    width: 255px;                   
                }
                & .footer__information-div-card-p {                    
                    width: 255px;
                }
            } 
            & .footer__information-div-card.two {
                margin-top: 30px;
            }
            & .footer__information-div-card.three {
                width: calc(100% - 30px);
                border-radius: 8px; 
                & .footer__information-div-card-h4 {
                    width: 255px;                   
                }
                & .footer__information-div-card-p {                    
                    width: 255px;
                }   
            }
                      
           }
        & .footer__contacts {
            width: 91.7%;
            & .footer__contacts-address { 
                display: block;  
                text-align: center; 
                & .footer__contacts-address-one {
                    padding-bottom: 10px;
                } 
                & .footer__contacts-address-two {
                    display: none;                    
                }               
                & .footer__contacts-address-three {
                    padding-bottom: 21px;                  
                    & a {
                        margin-right: 0; 
                        padding-left: 10px;               
                        white-space: nowrap;   
                        color: rgba(36, 163, 255, 1);  
                        font-size: 0.75rem;  
                        font-weight: 700;
                        line-height: 15px;  
                        letter-spacing: 1px;  
                        text-decoration: none;
                        
                    }   
                }
                & .footer__contacts-address-four {
                    display: none;
                }
            }
            & .footer__contacts-links {
                display: block;
                text-align: center; 
                & .footer__contacts-links-one {
                    padding-bottom: 10px;
                }          
                & .footer__contacts-links-two {
                    display: none;
                }
                & .footer__contacts-links-three { 
                    padding-bottom: 10px;              
                    & a {
                        text-decoration: none;
                        color: rgba(70, 70, 110, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
                }
                & .footer__contacts-links-four {  
                    padding-bottom: 30px;             
                    & a {
                        text-decoration: none;
                        color: rgba(36, 163, 255, 1);
                        font-weight: 700;
                        line-height: 20px; 
                    }
               }
               & .footer__contacts-links-five {
                display: block;
               }
            }
        }
             
    }
    
}